@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3e5d8;
}

header {
  background-color: #255538;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px gray;
}

#envia {
  list-style: none;
}

#envia a{
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  color: white;
  font-style: normal;
  outline: none;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

#envia a:active {
  background-color: #255538;
  color: #cdfeaa;
}

#titulo1 {
  background-image: url(../img/hero.jpg);

  background-position-y: -220px;
  background-position-x: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 150px;
  border-radius: 10px;
  box-shadow: 2px 2px gray;
}

main {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nav #navegacion {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 15px;
  justify-content: center;
  gap: 30px;
  color: white;
}

.navli {
  background-color: #255538;
  padding: 8px;
  border-radius: 15px;
}

.navli a{
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  color: white;
  font-style: normal;
  outline: none;
  text-decoration: none;
}

.navli a:active {
  background-color: #255538;
  color: #cdfeaa;
}

.contenedor {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  font: 13px "DM Sans";
  box-shadow: 2px 2px gray;
}

.contenedor h2 {
  color: #7e4333;
  font: 20px "DM Serif Display";
  font-weight: bold;
  text-decoration: underline;
}

.contenedor h3 {
  color: #7e4333;
  font: 15px "DM Serif Display";
  font-weight: bold;
}

.contenedor table,
.contenedor td {
  border-bottom: 2px solid #7e4333;
  border-collapse: collapse;
}

footer {
  background-color: #255538;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px gray;
}

footer p {
    color: white;
    font: 0.8em sans-serif;
}