@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f3e5d8;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

#ini {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #255538;
  grid-area: head;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  position: sticky;
  top: 0px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

header ul li a:hover {
  color: blue;
  text-decoration: underline;
}

#imagen {
  height: 20px;
  background-color: white;
  border-radius: 10px;
}

main {
  max-width: 80%;
  margin: 10px auto;
}

#firts_section {
  background-image: url(../img/Inicial.webp);
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  background-position-y: center;
  background-position-x: center;
  width: 100%;
  min-width: 90%;
}

#firts_section h1 {
  font-size: 50px;
  color: white;
  font-family: "DM Serif Display", Arial, Helvetica, sans-serif;
}

h3 {
  color: #7e4333;
  font-family: "DM Serif Display", Arial, Helvetica, sans-serif;
  padding: 10px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  max-width: 100%;
}

.cuadroReceta {
  background-color: white;
  grid-area: auto;
  grid-column: span 1;
  grid-row: span 1;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cuadroReceta img {
  max-width: 100%;
  max-height: 55%;
}

.cuadroReceta h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "DM Serif Display", Arial, Helvetica, sans-serif;
  color: #7e4333;
}

.cuadroReceta h2 a {
  text-decoration: none;
  color: #7e4333;
}

footer {
  background-color: #255538;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

footer p {
  color: white;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 760px) {
  #grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    max-width: 100%;
  }

  .cuadroReceta ul li {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 100%;
  }
}
