@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

.caja-generica {
  width: 130px;
  height: 130px;
  padding: 15px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#contenedor {
  height: 300px;
  display: flex;
  background-color: bisque;

  flex-direction: row; /*Elegimos el eje horizontal como principal*/
  justify-content:flex-start;/*Permite distribuir los elementos en el eje elegido como principal*/
gap: 20px;
  align-items: center;/*Distriye los elementos en el eje contrario*/


}

#caja1 {
  background-color: red;
  
}

#caja2 {
  background-color: orange;
}

#caja3 {
  background-color: aquamarine;
}

#caja4 {
  background-color: green;
}
