@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #f3e5d8;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

#grid-ini {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "head head head"
        "main main aside"
        "footer footer footer";
}

header{
    background-color: #255538;
    grid-area: head;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

}

header ul {
    list-style: none;
    display: flex;
    gap:10px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;

}

header ul li a:hover {
    color: blue;
    text-decoration: underline;
}

#imagen {
    height: 20px;
    background-color: white;
    border-radius: 10px;
}


main{
    max-width: 95%;
    background-color: white;
    border-radius: 15px;
    grid-area: main;
    padding: 20px;
    margin: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

h1, h2 {
    color:#7e4333;
    font-family: "DM Serif Display", Arial, Helvetica, sans-serif;
}

h1 {
    padding: 10px;
    font-size: 40px;
}

main article img{
    max-width: 100%;
    padding: 10px;
    border-radius: 20px;    
}

main article p {
    padding: 10px;
}

#medio {
    background-color: rgba(255, 192, 203, 0.17);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

#medio ul li {
    padding: 5px;
}

#final{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#final ul{
    list-style-type: decimal;
}

aside{
    grid-area: aside;
    margin-top: 30px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

#detalle{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
}

#detalle ul{
    padding-top: 15px;
    padding-left: 30px;
}

#detalle table{
    width: 100%;
}

#detalle table, #detalle td {
    border-bottom: 2px solid #7e4333;
    border-collapse: collapse;
}

#detalle table td tr:nth-of-type(2){
    text-align: right;
}


#m_recetas{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.m_container {
    display: flex;
    justify-content:space-between;
    padding: 5px;
    gap:5px;
}



#rep {
    max-width: 30%;
}

footer {
    background-color: #255538;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

footer p {
    color: white;
    font-family:"DM Sans", Arial, Helvetica, sans-serif;
}